@media only screen and (max-width: 900px) {
  .landing-hero {
    padding-top: 64px;
  }

  .hero-panel {
    display: none;
  }

  .seal-shape {
    opacity: 0.4;

    right: -180px;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 810px) {
  .eyebrow img {
    width: 200px;
  }
}

@media only screen and (max-width: 535px) {
  .hero-copy h1 {
    font-size: 2.2rem;
    margin: 0 !important;
  }

  .hero-copy .description {
    font-size: 1rem;
    padding: 0 20px;
  }
}
