<div class="list-group-item mb-2">
  <a
    href="$link$"
    class="event__card"
  >
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-2 col-4">
        <div class="event__card__date">
          <div>
            <p
              class="event__card__date--date"
            >
              $start-date$
            </p>
          </div>
          <div>
            <p class="event__card__date--month mb-0">$start-month$</p>
            <p class="event__card__date--day">$start-day$</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-10 col-8">
        <div class="event__card__content">
          <p class="event__card__title mb-0">
            $title$
          </p>
          <p>
            <span class="event__card__time d-inline">$time$</span
            > <span class="event__card__venue d-inline">$location$</span>
          </p>
        </div>
      </div>
    </div>
  </a>
</div>