<div class="list-group-item glide__slide mb-2 h-100">
  <a href="$link$" aria-label="$title$" class="glide__slide box-img-text-type-1__slide bg-secondary-grey-10">
    <div class="row">
      <div class="col-4 p-0 h-100 box-img-text-type-1__slide__img">
        <img 
             src="$image$"
            srcset="$image$,
                $image$ 0.5x,
                $image$ 1x,
                $image$ 1.5x,
                $image$ 2x,"
             
            alt="$title$" 
          />
      </div>
      <div class="col-8 pl-2 pt-2">
        <h3 class="box-img-text-type-1__slide__block__title pt-1 mb-1">
          <strong> $title$ </strong>
        </h3>
        <div class="box-img-text-type-1__slide__block__link position-static">
          <span>
            Read The Full Story
            <svg class="svg-md-12px" focusable="false" aria-hidden="true">
              <title>Arrow right icon</title>
              <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" style="fill: #900028"></path>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </a>
</div>