/* @media only screen and (orientation: landscape) and (max-height: 450px){
  .modal-overflow {
    height: 300px;
    overflow-y: scroll;
  }
} */

/* .container {
  display: flex;
  justify-content: center;
}

.container .item-one,
.container .item-two {
  flex: 0 0 33%;
} */
