@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.section-separator .wrapper {
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  padding: 10rem 1rem;
  max-width: 100%;
  position: relative;
}

.section-separator .wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Make sure the content stays above the overlay */
.section-separator .wrapper > *:not(.overlay) {
  position: relative;
  z-index: 2;
}

/* BACKGROUND COLORS */
.fordham-black {
  background-color: #282220;
}

.fordham-gray {
  background-color: #e1e1e1;
}

.fordham-dark-gray {
  background-color: #58585b;
}

.fordham-maroon {
  background-color: #900028;
}

.fordham-dark-maroon {
  background-color: #5a0414;
}

.fordham-ny-gold {
  background-color: #cfc1a3;
}

.fordham-jesuit-gold {
  background-color: #9e8959;
}

/* FONT COLORS */
.black {
  color: #282220;
}

.white {
  color: #fff;
}

.light-gray {
  color: #e1e1e1;
}

.dark-gray {
  color: #58585b;
}

.maroon {
  color: #900028;
}

.dark-maroon {
  color: #5a0414;
}
