:root {
  --test-border: 1px dashed black;
}

.company-logo-container {
  max-width: 1800px !important;
  margin: 0 auto;
  background-color: #e1e2e4;
  padding: 20px 10%;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box-container .col-sm-6 {
  margin-bottom: 0 !important;
}

.box-container .col-3 {
  margin: 5px 0;
  padding: 0;
  text-align: center;
}

.company-logo-container .box-container .col-3 img {
  height: 100%;
  width: 100%;
  margin-bottom: 0 !important;
}

.company-logo-container .box-container .col-3 .logo-container {
  margin: 0 7px;
}

@media (min-width: 1200px) and (max-width: 1279px) {
  .company-logo-container .box-container .col-3 img {
    max-width: 100% !important;
  }
}

@media (min-width: 442px) and (max-width: 991px) {
  .company-logo-container {
    padding: 5px 5px;
  }

  .box-container {
    margin: 0;
  }
}

@media (max-width: 441px) {
  .company-logo-container {
    padding: 10px 2%;
  }

  .company-logo-container .box-container .col-3 img {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
  }

  .company-logo-container .box-container .col-3 .logo-container {
    margin: 0 7px;
  }
}
