<html>
  <head>
    <!-- CSS EDITS -->
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/mobile.css" />

    <!-- CSS MAIN -->
    <link rel="stylesheet" href="../../../css/t4extras.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <link rel="stylesheet" href="../../../css/fu_ta.css" />
    <link rel="stylesheet" href="../../../css/fu_ta1.css" />
    <link rel="stylesheet" href="../../../css/subsite-t4extras.css" />
    <link rel="stylesheet" href="../../../css/fu_targetedannounce.css" />
    <link rel="stylesheet" href="../../../css/outage.css" />
    <link rel="stylesheet" href="../../../css/tinymce.css" />
    <!-- TEMPORARY -->
    <!-- <link rel="stylesheet" href="./temp.css" /> -->
    <title>Parallax - Text Bottom</title>
  </head>
  <body>
    <div class="fullwidth" id="main-content">
      <section class="hero-banner-parallax__text-top">
        <!-- BANNER BLOCK CATEGORIES/TITLE/CONTENT -->
        <div class="hero-banner__block" style="text-align: center">
          <!-- BANNER BLOCK CATEGORIES -->
          <div class="hero-banner__block__category"><span class="bg-color">Research and Science</span></div>
          <!-- BANNER BLOCK TITLE -->
          <div class="hero-banner__block__title h1-heading">
            <h1 style="color: black">1 CITY. 2 CAMPUSES. COUNTLESS STORIES.</h1>
          </div>
          <!-- BANNER BLOCK CONTENT -->
          <div class="hero-banner__block__content">
            <p style="color: black">The Fordham Community Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin arcu purus, sed blandit velit feugiat in.</p>
          </div>
          <!-- BANNER BLOCK AUTHOR CAPTION -->
          <div class="caption-font caption-black">3/12/24 - By John Doe</div>
        </div>

        <!-- HERO BANNER PARALLAX IMAGE -->
        <div class="hero-banner-parallax" style="background: url('../images/rose-hill.jpg')">
          <!-- HERO BANNER OVERLAY -->
          <div class="tint-layer"></div>
        </div>
        <div class="caption-font caption-photo">Photo Taken By Jon Doe</div>
      </section>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
      <div class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
    </div>
  </body>
</html>
