/* Banner Buttons - Target */

.header-button:nth-of-type(1) .header-button__block  {
    background-color: aqua !important;
} 

.header-button:nth-of-type(2) .header-button__block  {
    background-color: greenyellow !important;
}

.header-button:nth-of-type(3) .header-button__block  {
    background-color: purple !important;
}

.header-button:nth-child(1) .header-button__block  {
    background-color: aqua !important;
} 

.header-button:nth-child(2) .header-button__block  {
    background-color: greenyellow !important;
}

.header-button:nth-child(3) .header-button__block  {
    background-color: purple !important;
}