.aging-well-img,
.comprehensive-care-img,
.better-health-img,
.aging-well-text,
.comprehensive-care-text,
.better-health-text {
  width: 100%;
}

.comprehensive-care-img img {
  max-width: 70% !important;
}

.better-health-img img {
  max-width: 59% !important;
}

/* TEST REFACTOR*/
.meet-oss-team {
  padding: 24px 0;
}

.meet-oss-team .container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.meet-oss-team .container .team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 220px;
}
.meet-oss-team .container .team-member .member-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 14px;
  flex-shrink: 0;
}
.meet-oss-team .container .team-member .member-name {
  font-size: 16px;
  margin-bottom: 6px;
  display: block;
  margin-bottom: 0 !important;
}
.meet-oss-team .container .team-member .member-title {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 0 !important;
}
.meet-oss-team .container .team-member .member-link {
  font-size: 14px;
  color: #7e072a;
  text-decoration: underline;
}

/* PRESIDENT'S CLUB MOBILE RESPONSIVE CSS FIX */
@media only screen and (max-width: 1560px) {
  .hero-banner__block__title.h1-heading h1 {
    font-size: 3.5rem !important;
  }

  .hero-banner__image_block img {
    width: 260px;
  }
}

@media only screen and (max-width: 580px) {
  .hero-banner__block__title.h1-heading h1 {
    font-size: 2rem !important;
  }
}

/* FORDHAM MAROON MART PAGE CSS - MOBILE FIX */
@media only screen and (max-width: 1579px) {
  .general-content .maroon-mart-banner img {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1028px) {
  .parallax-container {
    background-attachment: unset !important;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto !important;
    min-height: unset !important;
  }
  .general-content .maroon-mart-banner img {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .section-separator .wrapper,
  .section-separator .wrapper.fordham-maroon {
    padding: 4rem 0 !important;
  }

  .section-separator .wrapper .general-content,
  .section-separator .wrapper.fordham-maroon .general-content {
    padding: 0 !important;
  }

  .section-separator .wrapper .general-content .maroon-mart-collage,
  .section-separator .wrapper .general-content .maroon-mart-collage.text,
  .section-separator .wrapper .general-content .google-maps-embed {
    padding: 0 2rem;
  }

  .footer__link-widget__item--title {
    border-bottom: 0 !important;
  }
}

#main-content > section:nth-child(2) > div > section.general-content {
  padding: 0 !important;
}
