.aging-well-img,
.comprehensive-care-img,
.better-health-img,
.aging-well-text,
.comprehensive-care-text,
.better-health-text {
  width: 100%;
}

.comprehensive-care-img img {
  max-width: 70% !important;
}

.better-health-img img {
  max-width: 59% !important;
}

