.fordham-rebrand.events .events-slider-type-1__widget {
  border-bottom: 0;
  padding: 0 2rem;
}

.fordham-rebrand.events .events-slider-type-1__track {
  margin-top: 1rem;
}

.fordham-rebrand.events .event__card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); */
}

.fordham-rebrand.events .event__card:hover {
  color: #000 !important;
}

.fordham-rebrand.events .event__card .event__card__img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding-top: 5px;
}

.fordham-rebrand.events .event__card .event__card__date {
  position: absolute;
  top: 137px;
  padding: 5px;
}

.fordham-rebrand.events .event__card .event__card__date-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dd3224;
  color: #fff;
  padding: 3px 10px 10px 10px;
  width: 45px;
}

.fordham-rebrand.events .event__card .event__card__date-container::after {
  content: "";
  display: block;
  border-top: 4px solid #dd3224;
  position: relative;
  width: 45px;
  top: 19px;
  margin-left: -10px;
}

.fordham-rebrand.events .event__card .event__card__date .date-month {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
}
.fordham-rebrand.events .event__card .event__card__date .date-day {
  font-size: 1.35rem;
  font-weight: bold;
  line-height: 0.9rem;
}

.fordham-rebrand.events .event__card .event__card__content {
  margin-top: 40px;
  min-height: 80px;
}

.fordham-rebrand.events .event__card .event__card__content .title {
  color: #7e072a;
  /* font-family: "Modern Gothic"; */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
}

.fordham-rebrand.events .event__card .loc-time {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  min-height: 55px;
}

.fordham-rebrand.events .event__card .loc-time .time,
.fordham-rebrand.events .event__card .loc-time .venue {
  color: #000;
  /* font-family: "Modern Gothic"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}

.fordham-rebrand.events .event__card .link {
  color: #7e072a;
  font-family: "Modern Gothic";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}
