@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.video-grid .row {
  display: flex;
  justify-content: center;
  padding: 0 auto;
}

.video-grid .video-panel__video {
  width: 100% !important;
}

.video-grid .video-panel__video--youtube,
.video-grid .video-panel__video--vimeo {
  padding-bottom: 56.4%;
}

.video-grid .video-grid-wrapper {
  padding: 0 2rem;
}

.video-grid .video-grid-wrapper h2,
.video-grid .video-grid-wrapper h3 {
  font-size: 1.15rem;
  text-align: center;
  font-weight: bold;
  height: 50px;
  margin-top: 5px;
}

.video-grid .video-grid-wrapper p {
  text-align: center;
}
