 .columns-4 .row {
  display: flex;
  justify-content: center;
  padding: 0 auto;
}

.columns-4 .general-content {
  padding: 0 !important;
}

.columns-4 .general-content__block {
  text-align: center;
}

.columns-4 .general-content__block img {
  height: 65%;
  width: 55%;
}

.columns-4 .general-content__block p {
  padding-top: 10px;
}
.col-md-3 .general-content__block a { 
  border-bottom:none !important; 
}
.columns-4 .col-md-3 {
  max-width: 22%;
}