/* CTA ICONS - COMMENCEMENT FIX - ANIMATION */

.cta-box__col {
  border-right: 0 !important;
  padding-bottom: 15px;
}

.cta-box__block__title {
  padding: 0 10px;
}
/* 1. Define the line's default state */
.cta-box__block__title::before {
  position: relative;
  left: 39.5% !important;
  margin-bottom: 20px;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

/* POP HOVER EFFECT */
/* .cta-box__col {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border-right: 0 !important;
  padding-bottom: 15px;
}

.cta-box__col:hover,
.cta-box__col--5:not(:nth-child(5n + 5)):hover {
  transform: scale(1.05);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.08),
    0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: unset !important;
  background-color: #fff;
}

.cta-box__col:hover a:hover {
  background-color: transparent !important;
}

.cta-box__col:hover .cta-box__img img,
.cta-box__col:hover a {
  transform: scale(1.05);
  box-shadow: none;
} */

/* 1. Set the default state */
/* POP HOVER EFFECT */
.cta-box__block__title span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.cta-box__col:hover .cta-box__block__title span {
  transform: scale(1.2);
}

.cta-box__img img {
  transition: transform 0.3s ease-in-out;
}

.cta-box__col:hover .cta-box__img img {
  transform: scale(1.08);
}

.cta-box__col:hover a:hover {
  background-color: transparent !important;
}

.cta-box__col:hover .cta-box__img img,
.cta-box__col:hover a {
  transform: scale(1.08);
  box-shadow: none;
}

.cta-box__col:hover .cta-box__block__title::before {
  transform: scaleX(1.3); /* Grows the line horizontally by 30% */
}

/* COLLEGE AND SCHOOL DIPLOMA COLUMN BORDER */
.columns-3 .row .col-md-4:nth-child(2) {
  border-right: 2px solid #dd3224;
  border-left: 2px solid #dd3224;
}

.columns-3 .row .col-md-4 .column-border-top {
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  .cta-box__block.bg-secondary-grey-10 {
    display: flex;
    align-items: center;
    margin: 0 !important;
    width: unset !important;
    padding-left: 15px;
  }

  .cta-box__img img {
    padding: 10px !important;
  }

  .cta-box__block__title {
    text-align: left;
  }

  .cta-box__block__title::before {
    left: 0 !important;
  }

  .cta-box__block__title span {
    font-size: 1.85rem;
  }

  .cta-box__col:hover .cta-box__block__title span {
    transform: unset;
  }

  .cta-box__col:hover .cta-box__img img {
    transform: unset;
  }

  .cta-box__col:hover .cta-box__img img,
  .cta-box__col:hover a {
    transform: unset;
  }

  .cta-box__col:hover .cta-box__block__title::before {
    transform: unset; /* Grows the line horizontally by 30% */
  }
}

@media only screen and (max-width: 768px) {
  /* HEADER ADJUSTMENTS FOR COMMENCEMENT IMAGE */
  .section-header-nav {
    padding-bottom: 1% !important;
  }

  .title-container {
    max-width: unset !important;
    margin-left: 13% !important;
  }

  /* GENERAL CONTENT TYPE HEADER ADJUSTMENT */
  .general-content.side-divider {
    padding: 0 1rem !important;
  }

  /* CTA BOX COLUMN STYLES */
  .cta-box__col {
    display: flex;
    border-bottom: 1px solid #e7ebe7 !important;
  }
  .cta-box__col:first-child {
    border-top: 1px solid #e7ebe7 !important;
  }

  .cta-box__block.bg-secondary-grey-10 {
    padding: unset !important;
  }

  .cta-box__col--5 .cta-box__img {
    height: unset !important;
    width: unset !important;
  }

  .cta-box__img img {
    padding: unset !important;
  }

  .cta-box__block__title::before {
    width: unset !important;
    height: 0 !important;
    margin-bottom: 0 !important;
  }

  .cta-box__block__title {
    margin-top: unset;
    padding: unset;
    margin-left: 15px;
    height: unset;
  }

  .cta-box__block__title span {
    font-size: 1.25rem !important;
  }

  /* COLLEGE AND SCHOOL DIPLOMA COLUMN BORDER */
  .columns-3 .row .col-md-4 .column-border-top {
    visibility: visible;
    background-color: #dd3224 !important;
    height: 4px !important;
    border: unset;
  }

  .columns-3 .row .col-md-4:nth-child(2) {
    border-right: none;
    border-left: none;
  }

  .general-content a.btn-secondary {
    color: #dd3224 !important;
    background-color: #fff;
  }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .banner-container {
    margin-bottom: -3.1px;
  }
}
