/* CTA ICONS - COMMENCEMENT FIX */
.cta-box__block__title {
  padding: 0 10px;
}

.cta-box__block__title::before {
  position: relative;
  left: 39.5% !important;
  margin-bottom: 20px;
}

/* POP HOVER EFFECT */
.cta-box__col {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  border-right: 0 !important;
  padding-bottom: 15px;
}

.cta-box__col:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cta-box__col:hover a:hover {
  background-color: transparent !important;
}

.cta-box__col:hover .cta-box__img img,
.cta-box__col:hover a {
  transform: scale(1.05);
  box-shadow: none;
}

@media only screen and (max-width: 991px) {
  .cta-box__block.bg-secondary-grey-10 {
    display: flex;
    align-items: center;
    margin: 0 !important;
    width: unset !important;
    padding-left: 15px;
  }

  .cta-box__img img {
    padding: 10px !important;
  }

  .cta-box__block__title {
    text-align: left;
  }

  .cta-box__block__title::before {
    left: 0 !important;
  }

  .cta-box__block__title span {
    font-size: 1.85rem;
  }
}

@media only screen and (max-width: 768px) {
  .cta-box__block.bg-secondary-grey-10 {
    padding: unset !important;
  }

  .cta-box__col--5 .cta-box__img {
    height: unset !important;
  }

  .cta-box__img img {
    padding: unset !important;
  }

  .cta-box__block__title {
    margin-top: -80px;
    padding: unset;
  }

  .cta-box__block__title span {
    font-size: 1.25rem !important;
  }
}
