@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:w700&display=swap"); */

/* DEV - Universal */

html,
body {
  background-color: white;
}

/* MAIN CSS */
.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slides-container {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 5rem;
  background-color: #900028;
  color: white;
  border: none;
  width: 3rem;
  font-size: 3rem;
  line-height: 1.15em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 1;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

.slide-arrow.prev {
  left: 0;
  padding-top: .50rem;
  padding-left: 0.50rem;
  border-radius: 0 5rem 5rem 0 !important;
}

.slide-arrow.next {
  right: 0;
  padding-top: .50rem;
  padding-left: 1.25rem;
  border-radius: 5rem 0 0 5rem !important;
}

.slides-container {
  padding: 0 !important;
  margin: 0 !important;
}

.slide {
  flex: 1 0 100%;
  scroll-snap-align: center;
}

/* .slide .col-lg-12 { 
  overflow: hidden;
  height: 70%;
} */

.slide img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/* Slide Indicator */
.slider-indicators {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.slider-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-indicator.active {
  background-color: #900028; /* Active indicator color */
}

/* TEST QUOTE SLIDER */
/* .row.quote {
  display: flex;
  justify-content: center;
}

.row.quote .col-md-7 {
  text-align: center;
  padding: 10px;
} */
