@media only screen and (max-width: 991px) {
  .slide-wrapper {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .slides-container {
    overflow-y: hidden;
  }
  .slide-wrapper {
    height: auto;
    margin: 0 !important;
  }

  .slide .row {
    height: auto;
    margin: 0 !important;
  }

  .slide-arrow.next {
    right: 15px;
  }

  .slide-arrow.prev {
    left: 15px;
  }
}
