<html>
  <head>
    <!-- CSS EDITS -->
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/mobile.css" />

    <!-- CSS MAIN -->
    <link rel="stylesheet" href="../../../css/t4extras.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <link rel="stylesheet" href="../../../css/fu_ta.css" />
    <link rel="stylesheet" href="../../../css/fu_ta1.css" />
    <link rel="stylesheet" href="../../../css/subsite-t4extras.css" />
    <link rel="stylesheet" href="../../../css/fu_targetedannounce.css" />
    <link rel="stylesheet" href="../../../css/outage.css" />
    <link rel="stylesheet" href="../../../css/tinymce.css" />
    <!-- TEMPORARY -->
    <!-- <link rel="stylesheet" href="../css/temp.css" /> -->
    <title>Block Quote</title>
  </head>
  <body>
    <div class="fullwidth" id="main-content">
      <section class="block-quote-embed">
        <div class="row">
          <div class="col-lg-4 social-embed-column">
            <blockquote
              class="instagram-media"
              style="
                background: #fff;
                border: 0;
                border-radius: 3px;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
                margin: 1px;
                max-width: 540px;
                min-width: 326px;
                padding: 0;
                width: calc(100% - 2px);
              "
              data-instgrm-captioned=""
              data-instgrm-permalink="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
              data-instgrm-version="14"
            >
              <div style="padding: 16px">
                <div style="display: flex; flex-direction: row; align-items: center">
                  <div style="background-color: #f4f4f4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px"></div>
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center">
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px"></div>
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px"></div>
                  </div>
                </div>
                <div style="padding: 19% 0"></div>
                <div style="display: block; height: 50px; margin: 0 auto 12px; width: 50px"></div>
                <div style="padding-top: 8px">
                  <div style="color: #3897f0; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: 550; line-height: 18px">View this post on Instagram</div>
                </div>
                <p
                  style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 0;
                    margin-top: 8px;
                    overflow: hidden;
                    padding: 8px 0 7px;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                >
                  <a
                    style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none"
                    href="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
                    target="_blank"
                    rel="noopener"
                    >A post shared by Fordham University (@fordhamuniversity)</a
                  >
                </p>
              </div>
            </blockquote>
            <p>
              <script src="//www.instagram.com/embed.js" async=""></script>
            </p>
          </div>

          <div class="col-lg-4 social-embed-column">
            <blockquote
              class="instagram-media"
              style="
                background: #fff;
                border: 0;
                border-radius: 3px;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
                margin: 1px;
                max-width: 540px;
                min-width: 326px;
                padding: 0;
                width: calc(100% - 2px);
              "
              data-instgrm-captioned=""
              data-instgrm-permalink="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
              data-instgrm-version="14"
            >
              <div style="padding: 16px">
                <div style="display: flex; flex-direction: row; align-items: center">
                  <div style="background-color: #f4f4f4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px"></div>
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center">
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px"></div>
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px"></div>
                  </div>
                </div>
                <div style="padding: 19% 0"></div>
                <div style="display: block; height: 50px; margin: 0 auto 12px; width: 50px"></div>
                <div style="padding-top: 8px">
                  <div style="color: #3897f0; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: 550; line-height: 18px">View this post on Instagram</div>
                </div>
                <p
                  style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 0;
                    margin-top: 8px;
                    overflow: hidden;
                    padding: 8px 0 7px;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                >
                  <a
                    style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none"
                    href="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
                    target="_blank"
                    rel="noopener"
                    >A post shared by Fordham University (@fordhamuniversity)</a
                  >
                </p>
              </div>
            </blockquote>
            <p>
              <script src="//www.instagram.com/embed.js" async=""></script>
            </p>
          </div>

          <div class="col-lg-4 social-embed-column">
            <blockquote
              class="instagram-media"
              style="
                background: #fff;
                border: 0;
                border-radius: 3px;
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
                margin: 1px;
                max-width: 540px;
                min-width: 326px;
                padding: 0;
                width: calc(100% - 2px);
              "
              data-instgrm-captioned=""
              data-instgrm-permalink="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
              data-instgrm-version="14"
            >
              <div style="padding: 16px">
                <div style="display: flex; flex-direction: row; align-items: center">
                  <div style="background-color: #f4f4f4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px"></div>
                  <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center">
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px"></div>
                    <div style="background-color: #f4f4f4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px"></div>
                  </div>
                </div>
                <div style="padding: 19% 0"></div>
                <div style="display: block; height: 50px; margin: 0 auto 12px; width: 50px"></div>
                <div style="padding-top: 8px">
                  <div style="color: #3897f0; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: 550; line-height: 18px">View this post on Instagram</div>
                </div>
                <p
                  style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 0;
                    margin-top: 8px;
                    overflow: hidden;
                    padding: 8px 0 7px;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  "
                >
                  <a
                    style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none"
                    href="https://www.instagram.com/reel/C-nej_Gxwml/?utm_source=ig_embed&amp;utm_campaign=loading"
                    target="_blank"
                    rel="noopener"
                    >A post shared by Fordham University (@fordhamuniversity)</a
                  >
                </p>
              </div>
            </blockquote>
            <p>
              <script src="//www.instagram.com/embed.js" async=""></script>
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
