/* FOR IMAGE PARENT CONTAINER */
/* .carousel-header {
  padding-top: 15px;
}
.carousel-header .col-lg-9 {
  padding-right: 4px;
}
.carousel-header .cta-container {
  display: flex;
  flex-direction: column;
}
.carousel-header .cta-container .btn-primary {
  height: 24%;
  display: flex;
  align-items: center;
  background-color: transparent !important;
}
.carousel-header .cta-container .btn-primary::hover {
  background-color: transparent !important;
}
.carousel-header .cta-container .button-wrapper {
  border-bottom: 5px solid #900028;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.carousel-header .cta-container a:hover p {
  color: #5a0414 !important;
  -webkit-text-decoration: underline 2px !important;
  text-decoration: underline 2px !important;
}
.carousel-header .cta-container .cta-text {
  display: flex;
  align-items: center;
  text-align: left;
}
.carousel-header .cta-container .cta-text p {
  font-size: 1.5rem;
  color: #000;
  margin: 0 !important;
  transition: 0.4s ease-in-out;
}
.carousel-header .cta-container .cta-icon {
  width: 30%;
}
.carousel-header .cta-container .cta-icon img {
  width: 90px;
  color: #900028;
  font-size: 3rem;
  margin-right: 25px;
}
.carousel-header .img-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.carousel-header .img-container:hover .carousel-arrow {
  opacity: 0.9;
}
.carousel-header .img-container .content {
  position: absolute;
  bottom: 23px;
  left: 23px;
  max-width: 550px;
  padding: 15px;
  z-index: 2;
}
.carousel-header .img-container .content h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}
.carousel-header .img-container .content p {
  color: #000;
  font-size: 0.9rem;
}
.carousel-header .img-container .content .category {
  color: #333;
}
.carousel-header .img-container .content a:hover {
  text-decoration: none;
}
.carousel-header .img-container .content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e1e1e1;
  border-radius: 2px;
  opacity: 0.93;
  z-index: -1;
}
.carousel-header .img-container .content .btn {
  z-index: 3;
}
.carousel-header .slide-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel-header .slide-container .slide {
  flex: 1 0 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-header .slide-container .slide picture {
  width: 100%;
  height: 100%;
  display: block;
}
.carousel-header .slide-container .slide img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.carousel-arrows {
  width: 500px;
  height: 400px;
  background-color: #000;
}
.carousel-arrow {
  position: absolute;
  display: flex;
  top: 40%;
  bottom: 0;
  height: 4rem;
  background-color: #900028;
  color: #fff;
  border: none;
  width: 4rem;
  font-size: 3rem;
  line-height: 1.15em;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease;
}
.carousel-arrow:focus,
.carousel-arrow:hover {
  opacity: 1;
}
.carousel-arrow.prev {
  left: 0;
  padding-left: 1.5rem;
}
.carousel-arrow.next {
  right: 0;
  padding-left: 1.5rem;
}


/* Updates to Icon */
/* .carousel-header .cta-container .cta-icon img {
   height: unset;
   width: 80%;
} */

/* TEMPORARY */
.carousel-header {
  margin-bottom: 30px;
}

/* UPDATES */

.carousel-header .img-container {
  max-height: 500px;
}

.carousel-header .slide-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
  z-index: 0;
}

.carousel-header .img-container .content .title {
  margin-bottom: 1rem;
  font-family: owners-wide, sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  font-size: 3rem;
}

.carousel-header .img-container .content {
  max-width: 60% !important;
  top: 48%;
  transform: translateY(-50%);
  left: 5rem !important;
}

.carousel-header .slide-container .slide img {
  max-height: 500px;
}

/* Slide Indicator */
.carousel-header .carousel-indicators {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 1rem 0;
  bottom: 0;
  left: 50%;
}

.carousel-header .carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-header .carousel-indicator.active {
  background-color: #dd3224; /* Active indicator color */
}

.carousel-header .carousel-arrow {
  background-color: unset;
  font-size: 4.5rem;
}

.carousel-header .btn-primary.button-text {
  background-color: #dd3224;
  border-radius: 10px;
}

.carousel-header .btn-primary.button-text span {
  font-size: 1rem;
}

/* TEST */
.carousel-header .interactions {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  /* left: 50%;
  right: 50%; */
  margin-bottom: 0.2rem;
  margin-right: 1rem;
  right: 0;
  width: 100%;
}

.carousel-header .interactions .interactions-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-header .interactions .interactions-wrapper .hero-carousel-arrow {
  font-size: 2.2rem;
  position: unset;
  height: unset;
  width: unset;
  /* background-color: #dd3224; */
  align-items: center;
  margin: 0 !important;
  border-radius: 5px;
  padding-bottom: 4px;
  font-weight: 600;
  cursor: pointer;
}

.carousel-header .interactions .interactions-wrapper .hero-carousel-arrow.next {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
  margin-left: 0.2rem !important;
  color: #fff
}

.carousel-header .interactions .interactions-wrapper .hero-carousel-arrow.prev {
  padding-right: 0.3rem !important;
  padding-left: 0.3rem !important;
  margin-right: 0.2rem !important;
  color: #fff
}

.carousel-header .interactions .carousel-indicators {
  position: unset !important;
  align-items: center;
  margin: 0 !important;
}
