.hero-banner.fordham-rebrand .hero-banner__block__desc,
.hero-banner.fordham-rebrand .hero-banner__block__title > span {
  background-color: unset !important;
  padding: .75rem 0 !important
}

.hero-banner.fordham-rebrand .hero-banner__block__desc {
  margin-top: 0 !important;
}

.hero-banner.fordham-rebrand .hero-banner__wrapper {
  height: 500px;
}

.hero-banner.fordham-rebrand .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 80%);
  z-index: 0;
}

.hero-banner.fordham-rebrand .hero-banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 192.023%;
  background-position: 0px -304.529px;
  background-repeat: no-repeat;
}

.hero-banner.fordham-rebrand .hero-banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover; object-position: 50% 50%;";
}

.hero-banner.fordham-rebrand .hero-banner__block__button-link-break-3buttons::after,
.hero-banner.fordham-rebrand .hero-banner__block__button-link-break::after {
  content: "" !important;
  position: relative;
  background-image: url("../../../../images/white-right-arrow.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 1rem;
  height: 12px;
  top: 2px;
}

.hero-banner.fordham-rebrand .hero-banner__block__button-link-break-3buttons.btn-secondary::after,
.hero-banner.fordham-rebrand .hero-banner__block__button-link-break.btn-secondary::after {
  content: "" !important;
  position: relative;
  background-image: url("../../../../images/ram-red-right-arrow.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 1rem;
  height: 12px;
  top: 2px;
}

.hero-banner.fordham-rebrand .hero-banner__block__button-link-break-3buttons.btn-secondary:hover,
.hero-banner.fordham-rebrand .hero-banner__block__button-link-break.btn-secondary:hover {
  color: #7e072a !important;
}

.hero-banner.fordham-rebrand .hero-banner__block__button-link-break-3buttons.btn-secondary:hover::after,
.hero-banner.fordham-rebrand .hero-banner__block__button-link-break.btn-secondary:hover::after {
  background-image: url("../../../../images/maroon-right-arrow.svg") !important;
}



/* TEMPORARY UNIVERSAL CSS ADJUSTMENTS */
.hero-banner {
  margin-bottom: 200px;
}

.header-placeholder {
  display: block !important;
}

/* .hero-banner .hero-banner__block {
    top: 30rem;
} */




/* FOR TWO COLUM SLIDE HERO CAROUSEL */

.carousel-header.two-columns .slide {
  align-items: unset !important;
}

.carousel-header.two-columns .slide .col-lg-6.img-column {
  padding: 0 !important;
}

.carousel-header.two-columns .slide .col-lg-6.text-column {
  display: flex !important;
  align-items: center !important;
  background-color: #512533 !important
}

.carousel-header.two-columns .slide .col-lg-6.text-column .content {
  transform: unset !important;
  position: unset !important;
  max-width: 100% !important;
}

.carousel-header.two-columns .slide .col-lg-6.text-column .content .title {
  font-size: 4rem !important;
  line-height: 4rem !important;
}

.carousel-header.two-columns.side-divider .slide .col-lg-6.text-column .content .title {
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.carousel-header.two-columns .slide .col-lg-6.text-column .content .title span {
  display: block;
} 

