/* @media only screen and (max-width: 1280px) {
  .hero-banner.fordham-rebrand .hero-banner .hero-banner__img {
    background-size: cover;
    background-position: center;
  }

  .hero-banner.fordham-rebrand .header-placeholder {
    height: 104px !important;
  }

  .hero-banner.fordham-rebrand .hero-banner__block__title {
    background-color: unset !important;
  }

  .hero-banner.fordham-rebrand .hero-banner__block__desc {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 1279px) {
  .hero-banner.fordham-rebrand .hero-banner__block__title > span {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .hero-banner.fordham-rebrand .hero-banner__block__title > span {
    font-size: 2rem !important;
  }

  .hero-banner__block__button-link-break-3buttons:last-of-type {
    margin-left: 0 !important;
  }

  .hero-banner__block__button-link-break-3buttons:first-of-type {
    margin-right: 0 !important;
  }

  .hero-banner.fordham-rebrand .hero-banner__block__content a {
    width: 70% !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-banner.fordham-rebrand .hero-banner__wrapper {
    height: 40vh;
  }
}

@media only screen and (max-width: 580px) {
  .hero-banner.fordham-rebrand .hero-banner__block__title > span {
    font-size: 1.7rem !important;
  }

  .hero-banner.fordham-rebrand .hero-banner__block__content a {
    width: 100% !important;
  }
}

@media only screen and (max-width: 440px) {
  .hero-banner.fordham-rebrand .hero-banner__wrapper {
    height: 65vh;
  }
}

@media only screen and (max-width: 390px) {
  .hero-banner.fordham-rebrand .hero-banner__wrapper {
    height: 90vh;
  }
}
*/

/* Mobile-specific styles for the two columnhero banner */
@media only screen and (max-width: 1642px) {
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 5rem !important;
    line-height: 4rem !important;
  }
}

/* @media only screen and (max-width: 1400px) {
  .hero-banner.two-column .hero-banne2222221221211r__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 4rem !important;
    line-height: 3rem !important;
  }
} */

@media only screen and (max-width: 1199px) {
  .hero-banner.two-column .hero-banner__wrapper {
    height: 350px;
  }

  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title {
    background-color: unset !important;
  }

  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 3rem !important;
    line-height: 2.5rem !important;
    padding: 0 !important;
  }

  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block {
    text-align: unset !important;
  }

  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block .hero-banner__block__content {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 883px) {
  .hero-banner.fordham-rebrand .hero-banner__wrapper {
    height: 300px;
  }
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 2.5rem !important;
    line-height: 2rem !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .hero-banner.two-column .hero-banner__wrapper {
    flex-direction: column !important;
  }
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title {
    margin-bottom: 0 !important;
    padding: 1.5rem !important;
  }
}

@media only screen and (max-width: 580px) {
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block .hero-banner__block__content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__content .btn {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 2.5rem !important;
    line-height: 2rem !important;
  }
}

@media only screen and (max-width: 380px) {
  .hero-banner.two-column .hero-banner__wrapper {
    text-align: center !important;
  }
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title {
    padding: 20px 0 !important;
  }
}

@media only screen and (max-width: 320px) {
  .hero-banner.two-column .hero-banner__wrapper .col-lg-6.text-column .hero-banner__block__title span {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
}
