@media only screen and (max-width: 991px) {
    .statistics-blocks {
        flex-direction: column;
        flex-wrap: unset;
        height: 100%;
    }

    .statistics-blocks .statistics-blocks__block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: unset;
        max-width: unset;
        width: 100%;
    }

    .statistics-blocks .statistics-blocks__block__inner:before {
        content: unset !important;
    }
}