:root {
  --border-white: 1px solid var(--white);
  --border-gray: 1px solid var(--fordham-light-gray);
  --border-dark-gray: 1px solid var(--fordham-dark-gray);
  --fordham-maroon: #900028;
  --white: #fff;
  --fordham-gray: #888;
  --fordham-light-gray: #f0f0f0;
  --fordham-dark-gray: #333;
}


/* Mobile Responsive - BOTH */
@media only screen and (max-width: 991px) {
  .side-tabs-maroon .row,
  .side-tabs-white .row {
    box-shadow: none;
    border-radius: 0;
  }
  .side-tabs-white .row {
    border: var(--border-gray);
  }

  .col-lg-8.border-white,
  .col-lg-8.border-gray {
    border-left: 0;
    min-height: 300px;
    padding-top: 20px;
  }
  .col-lg-8.border-white {
    border-top: var(--border-white);
  }
  .col-lg-8.border-gray {
    border-top: var(--border-gray);
  }
}

@media only screen and (max-width: 767px) {
  .side-tabs-maroon .row,
  .side-tabs-white .row {
    margin: 0 15px;
  }

  .list-group {
    margin-bottom: 20px;
  }

  .side-tabs-white .list-group-item.tab-active-maroon.white-item::before {
    width: 100%;
    background-color: var(--fordham-maroon);
  }

  .side-tabs-maroon .list-group-item.tab-active::before {
    width: 100%;
  }
}
