<html>
  <head>
    <!-- CSS EDITS -->
    <link rel="stylesheet" href="../css/custom.css" />
    <link rel="stylesheet" href="../css/mobile.css" />

    <!-- CSS MAIN -->
    <link rel="stylesheet" href="../../../css/t4extras.css" />
    <link rel="stylesheet" href="../../../css/style.css" />
    <link rel="stylesheet" href="../../../css/fu_ta.css" />
    <link rel="stylesheet" href="../../../css/fu_ta1.css" />
    <link rel="stylesheet" href="../../../css/subsite-t4extras.css" />
    <link rel="stylesheet" href="../../../css/fu_targetedannounce.css" />
    <link rel="stylesheet" href="../../../css/outage.css" />
    <link rel="stylesheet" href="../../../css/tinymce.css" />
    <!-- TEMPORARY -->
    <link rel="stylesheet" href="../css/temp.css" />
    <title>Parallax - Overlay</title>
  </head>
  <body>
    <div class="fullwidth" id="main-content">
      <section class="hero-banner-parallax__overlay">
        <div
          class="hero-banner-parallax"
          style="background: url(../images/rose-hill.jpg);"
        >
          <!-- OVERLAY -->
          <div class="tint-layer"></div>

          <!-- BANNER TITLE/CONTENT BLOCK -->
          <div class="hero-banner__block" style="text-align: center">
            <!-- CATEGORY HEADER  -->
            <div class="hero-banner__block__category"><span class="bg-color">Research and Science</span></div>
            <!-- BANNER TITLE -->
            <div class="hero-banner__block__title h1-heading">
              <h1>1 CITY. 2 CAMPUSES. COUNTLESS STORIES.</h1>
            </div>
            <!-- BANNER CONTENT/TEXT -->
            <div class="hero-banner__block__content">
              <p>The Fordham Community Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin arcu purus, sed blandit velit feugiat in.</p>
            </div>
            <!-- BANNER AUTHOR -->
            <div class="caption-font caption-white">March 12, 2024 - By John Doe</div>
          </div>
        </div>

        <!-- BANNER PHOTO CAPTION -->
        <div class="caption-font caption-photo">Elijah Lancaster in Jeremy McQueen’s “WILD: Act 1.” Photo by Matthew Murphy.</div>
      </section>

      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </section>
      <section class="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis. Fringilla urna porttitor rhoncus
          dolor purus non enim praesent. Sed sed risus pretium quam vulputate dignissim suspendisse. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Odio tempor orci dapibus ultrices
          in iaculis nunc sed augue. Morbi tristique senectus et netus. Purus viverra accumsan in nisl. Nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi. Lobortis mattis aliquam
          faucibus purus in massa tempor nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Volutpat est velit egestas dui id ornare arcu odio. Id leo in vitae turpis massa. Neque
          vitae tempus quam pellentesque nec nam aliquam sem et. Arcu risus quis varius quam quisque id diam vel quam.
        </p>
      </div>
    </div>
    <script src="../script.js"></script>
  </body>
</html>
