@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --test-border: 1px dashed black;
  --color-maroon: #900028;
  --color-white: white;
}

* {
  font-family: "Raleway", "san-serif";
}

/* .two-by-two {
  width: 70%;;
  margin: auto;
} */

.text-heavy {
  font-weight: 700;
}

.two-by-two {
  margin-bottom: 0 !important;
}

.two-by-two .overlay {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  position: absolute;
  z-index: 1;
}
.two-by-two .col-lg-4,
.two-by-two .col-lg-6,
.two-by-two .col-lg-12 {
  height: 300px;
  padding-top: 25px;
}

.two-by-two .content-container img {
  height: 100%;
  width: 100%;
  filter: blur(0);
  transition: filter 0.5s ease;
  object-fit: cover;
  object-position: center;
}

.two-by-two .content-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.two-by-two .content-container .title {
  display: flex;
  position: absolute;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.two-by-two .content-container .content {
  position: absolute;
  align-items: center;
  width: 80%;
  z-index: 2;
}

.two-by-two .content-container .content .content-text {
  color: white;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.two-by-two .content-container .content .content-text p {
  font-size: 1.2rem !important;
}

.two-by-two .content-container .content .content-text button {
  background-color: #900028;
  border-color: #900028;
  font-weight: bold;
}
.two-by-two .content-container .title {
  flex-direction: column;
}

.two-by-two .content-container .title {
  color: white;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}

.two-by-two .content-container .title svg {
  height: 70px;
  padding-bottom: 10px;
}

.two-by-two .content-container .title img {
  width: 60px;
  padding-bottom: 10px;
}

.two-by-two .content-container .title .title-header {
  font-size: 1.8rem !important;
  margin-bottom: 0 !important;
}

.two-by-two .content-container .title .title-desc {
  font-size: 1rem !important;
}

/* HOVER & FOCUS EFFECTS */
.two-by-two .content-container:not(:hover) .title {
  opacity: 1;
}

.two-by-two .content-container:hover .content .content-text,
.two-by-two .content-container:focus .content .content-text,
.two-by-two .content-container:focus-within .content .content-text {
  opacity: 1;
}

.two-by-two .content-container:focus .title,
.two-by-two .content-container:focus-within .title {
  opacity: 0 !important;
}

.two-by-two .content-container:hover > img,
.two-by-two .content-container:focus > img,
.two-by-two .content-container:focus-within > img {
  filter: blur(5px);
}

