/* NAVIGATION Changes - Homepage */
.header-nav.rebrand .header-nav__logo {
  justify-content: center;
  align-self: flex-start;
  width: 100% !important;
}

.header-nav.rebrand .header-nav__logo svg {
  width: 15rem !important;
  height: auto;
  fill: #fff;
}

.header-nav.rebrand .header-nav__mobile {
  align-self: flex-end;
  margin-left: 0 !important;
}

.header-nav.rebrand .header-nav__top__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1800px;
  margin: 0 auto;
}

.header-sticky .header-nav.rebrand .header-nav__bottom {
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
}

.header-nav.rebrand .header-nav__bottom__item {
  margin-bottom: 2rem;
}

.header-sticky .header-nav.rebrand .header-nav__bottom__container {
  justify-content: center;
}

.header-nav.rebrand .header-nav__bottom__link {
  padding: 0.25rem 0.8rem !important;
  position: relative;
  height: inherit;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: #fff !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler {
  margin-left: 0 !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__button.btn-open-search {
  margin-bottom: 2rem;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__button {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  padding: 0 !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__label {
  text-transform: unset !important;
  font-weight: bold !important;
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
  margin-right: 0.4rem !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__button > svg {
  transform: scale(1) !important;
  fill: white;
}

.header-nav.rebrand .header-nav__top__list--secondary {
  background-color: #7e072a !important;
}

.header-nav.rebrand .header-nav__dropdown-menu {
  max-width: 1800px !important;
  border-top: 2px solid #7e072a !important;
  border-bottom: 2px solid #7e072a !important;
}

.header-nav.left-column .header-nav__dropdown-menu {
  border-top: 6px solid #7e072a !important;
  border-bottom: 2px solid #7e072a !important;
}

.header-nav__bottom__link:hover:before {
  background-image: none !important;
}

/* .header-nav__dropdown-menu::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 20px;
  background-image: url("../../../../images/arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -15px;
  margin-left: 34.5%;
  background-color: #fff; 
}
*/

.header-nav__dropdown-menu__lists-widget {
  flex: 0 0 80%;
}
.header-nav__dropdown-menu__images-widget {
  flex: 0 0 10%;
  border-left: 2px solid #dbdbd3;
}

.header-nav__dropdown-menu__quick-list {
  width: 1800px;
  flex: 0 0 100%;
  border-top: 2px solid #dbdbd3;
}

.header-nav__dropdown-menu__lists-widget--bottom {
  width: 100% !important;
  margin-top: 0 !important;
  border-top: 2px solid #dbdbd3 !important;
}

.header-nav__dropdown-menu__link-title {
  font-size: 16px !important;
  text-decoration: none !important;
  padding-bottom: 1rem;
  border-bottom: 2px solid #d93f32;
}

.header-nav__dropdown-menu__item {
  margin: 1rem 0 !important;
}

.header-nav__dropdown-menu__lists-widget--top--list li a {
  color: #7e072a !important;
}

.header-nav__dropdown-menu__lists-widget--top--list li a::after,
.header-nav__dropdown-menu__link::after {
  display: inline-block;
  content: " ";
  height: 8px;
  width: 8px;
  margin-left: 5px;
  background-image: url("../../../../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-nav__dropdown-menu__link {
  color: #7e072a !important;
}

.header-nav__bottom__link > svg {
  display: none;
}
/* TEMPORARY UNIVERSAL CSS ADJUSTMENTS */

.header-placeholder {
  display: none;
}

.header-nav__mobile--open {
  background-color: unset !important;
}

/* TEMPORARY TEST */

.test-content {
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.pre-footer-cta .col-md-4 .general-content {
  height: 100%;
}

.pre-footer-cta .col-md-4 .general-content .general-content__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pre-footer-cta .col-md-4 .general-content .general-content__block p {
  margin-bottom: 0 !important;
}
