/* MOBILE RESPONSIVENESS FOR NAVIGATION */

@media only screen and (max-width: 1279px) {
  .header-nav.rebrand .header-nav__bottom__search-toggler__button.btn-open-search {
    margin-bottom: 0;
  }

  .header-sticky .header-nav .header-nav__bottom,
  .header-sticky .header-nav.rebrand .header-nav__bottom {
    justify-content: normal;
    background-color: #fff;
  }

  .header-sticky .header-nav .header-nav__bottom__container,
  .header-sticky .header-nav.rebrand .header-nav__bottom__container {
    justify-content: normal;
    flex-wrap: nowrap;
    width: 100%;
  }

  .header-nav .header-nav__logo,
  .header-nav.rebrand .header-nav__logo {
    justify-content: normal;
  }

  .header-nav .header-nav__logo img,
  .header-nav.rebrand .header-nav__logo svg {
    fill: #7e072a;
    width: 12rem !important;
    padding: 0.5rem 0 !important;
  }

  .header-nav__bottom__nav-toggler__button {
    border: 2px solid #7e072a;
    border-radius: 10px;
    color: #7e072a;
    padding: 5px 30px !important;
  }

  .header-nav .header-nav__bottom__search-toggler__button > svg,
  .header-nav.rebrand .header-nav__bottom__search-toggler__button > svg {
    transform: scale(1.6) !important;
    fill: #7e072a;
    margin-right: 5px;
  }

  .header-nav__bottom__search-toggler__button.btn-open-search {
    margin-bottom: 0;
  }
  .header-nav__bottom__list {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }

  .header-nav__bottom__list .header-nav__bottom__item {
    margin-bottom: 0 !important;
    border-bottom: 1px #dbdbd3 solid;
  }

  .header-overlay {
    z-index: 1 !important;
  }

  .header-nav .header-nav__bottom__list .header-nav__bottom__link,
  .header-nav.rebrand .header-nav__bottom__list .header-nav__bottom__link {
    color: #7e072a !important;
    display: flex;
    padding: 1rem !important;
    font-weight: bold;
  }

  .header-nav .header-nav__bottom__outer-quick-list--secondary .header-nav__bottom__link,
  .header-nav.rebrand .header-nav__bottom__outer-quick-list--secondary .header-nav__bottom__link {
    color: #7e072a !important;
    font-weight: 400;
    font-size: 0.9rem;
  }

  .header-nav__bottom__link > svg {
    display: block;
    position: static !important;
    margin-left: auto;
    padding-left: 0.5em;
    fill: #7e072a;
    width: 18px;
    height: 18px;
  }

  .header-nav__dropdown-menu--active.slide-in-right {
    width: 90% !important;
  }

  .header-nav__bottom__outer-quick-list--secondary {
    padding-top: 0 !important;
    background-color: #dbdbd3 !important;
    border-bottom: unset !important;
  }

  .header-nav__bottom__outer-quick-list--secondary .header-nav__bottom__item {
    border-bottom: 1px #fff solid !important;
    font-weight: 100;
  }

  .header-nav__mobile--open {
    background-color: #dbdbd3 !important;
  }

  .header-nav__bottom__outer-quick-list--primary.log-in-out--btn,
  .header-nav__bottom__outer-quick-list--primary.log-in-out-btn {
    display: block;
    background-color: #fff;
    margin-bottom: 0 !important;
    padding: 0 2rem;
  }

  .header-nav__bottom__outer-quick-list--primary.header-nav__bottom__item {
    text-align: center;
  }

  .header-nav__bottom__outer-quick-list--secondary .header-nav__bottom__item:nth-child(7) {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .header-nav__dropdown-menu--active.slide-in-right {
    background-color: #dbdbd3 !important;
  }

  .header-nav__dropdown-menu--active.slide-in-right .header-nav__dropdown-menu__lists-widget--top--list .header-nav__dropdown-menu__item {
    margin: 0 !important;
  }

  .header-nav__dropdown-menu--active.slide-in-right .header-nav__dropdown-menu__lists-widget--top--list ul li {
    padding: 0.5rem 0;
  }

  .header-nav__dropdown-menu__sibling-link a {
    color: #7e072a !important;
  }

  .header-nav__dropdown-menu__back-toggler__button.btn-back-nav svg {
    fill: #7e072a;
  }

  .header-nav__dropdown-menu__back-toggler__button.btn-back-nav span {
    color: #7e072a;
  }

  .header-nav .header-nav__bottom__outer-quick-list--primary.log-in-out--btn a,
  .header-nav .header-nav__bottom__outer-quick-list--primary.log-in-out-btn a {
    border-radius: 10px;
    border: 2px solid var(--Red, #dd3224) !important;
    background: var(--Red, #dd3224);
    color: var(--Red, #ffffff) !important;
    font-family: "Modern Gothic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: unset !important;
    padding: 10px 30% !important;
    text-transform: unset !important;
    width: 100% !important;
    display: block;
  }

  .header-nav .header-nav__bottom__outer-quick-list--primary.log-in-out--btn a:hover {
    background-color: #7e072a !important;
    color: #fff !important;
    border-color: #7e072a !important;
  }

  .header-nav__mobile__close-toggler {
    padding: 0 0.9375rem !important;
    height: 99.51px;
  }

  .header-nav__mobile__close-toggler__label {
    margin-left: 0 !important;
    text-transform: unset !important;
    font-size: 0.9rem !important;
  }

  .header-nav__mobile__search-toggler__button.btn-close-nav {
    border: 2px solid #7e072a;
    border-radius: 10px;
    color: #7e072a;
    padding: 5px 30px !important;
  }

  .header-nav__bottom__outer-quick-list--secondary.header-nav__bottom__list .header-nav__bottom__item a:hover {
    color: #fff !important;
  }

  .header-nav__bottom__outer-quick-list--secondary.header-nav__bottom__list .header-nav__bottom__item a:hover svg {
    fill: #fff !important;
  }

  .header-nav__bottom__outer-quick-list--primary .header-nav__bottom__item {
    margin-bottom: 0 !important;
  }

  .header-nav__mobile__auth-user {
    background-color: transparent !important;
  }

  .header-nav__mobile__auth-user > a {
    color: #7e072a !important;
  }

  .header-nav__bottom__outer-quick-list--primary {
    background-color: transparent !important;
  }

  .header-nav__bottom__outer-quick-list--primary.header-nav__bottom__list a:hover {
    background-color: #eff0f4 !important;
  }
}

@media only screen and (max-width: 691px) {
  .header-nav__mobile.header-nav__mobile--open.slide-in-right .header-nav__logo.mobile {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .header-nav .header-nav__bottom__search-toggler__button > svg,
  .header-nav.rebrand .header-nav__bottom__search-toggler__button > svg {
    margin-right: 15px !important;
  }
}
