@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.desc-background .desc-background-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  padding: 10px 0;
}
.desc-background .desc-background-wrapper title {
  width: 70%;
}

.desc-background .desc-background-wrapper .title h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.desc-background .desc-background-wrapper .title h2 span {
  color: #900028;
}

.desc-background .desc-background-wrapper .desc {
  /* padding: 0 250px; */
}

.desc-background .desc-background-wrapper .desc {
  width: 70%;
}

.desc-background .desc-background-wrapper .desc p {
  font-size: 1.25rem;
}

.desc-background .desc-background-wrapper .video-embed {
  width: 60%;
  height: auto;
}

.desc-background .desc-background-wrapper .video-embed iframe {
  width: 100%;
  height: 600px;
  min-height: initial;
}

/* TEST CSS */
button.btn.btn-primary {
  margin: .5rem 0;
}
