@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.video-embed-background .video-embed-background-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  padding-bottom: 10px;
}
.video-embed-background .video-embed-background-wrapper title {
  width: 70%;
}

.video-embed-background .video-embed-background-wrapper .title {
  font-size: 2.5rem;
  font-weight: 400;
}

.video-embed-background .video-embed-background-wrapper .title h2 span {
  color: #900028;
}

.video-embed-background .video-embed-background-wrapper .content {
  width: 70%;
}

.video-embed-background .video-embed-background-wrapper .content p {
  font-size: 1.25rem;
}

.video-embed-background .video-embed-background-wrapper .video-embed {
  width: 60%;
}

.video-embed-background .video-embed-background-wrapper .video-embed.video-content__video--youtube {
  padding-bottom: 34.55%;
}

.video-embed-background .link.btn-primary {
  margin: 0.5rem 0;
  font-weight: 300;
}

/* WHEN USING SIDE DIVIDER CLASS */
.video-embed-background.side-divider .video-embed-background-wrapper .video-embed {
  padding-bottom: 33.35%;
}
