/*  MOBILE RESPONSIVE  */

@media only screen and (max-width: 1280px) {
  .video-embed-background .video-embed-background-wrapper .video-embed,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed {
    width: 70%;
  }

  .video-embed-background .video-embed-background-wrapper .video-embed.video-content__video--youtube,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed.video-content__video--youtube {
    padding-bottom: 44.55%;
  }
}

@media only screen and (max-width: 991px) {
  .video-embed-background .video-embed-background-wrapper .video-embed,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed {
    width: 80%;
  }

  .video-embed-background .video-embed-background-wrapper .video-embed.video-content__video--youtube,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed.video-content__video--youtube {
    padding-bottom: 44.55%;
  }
}

@media only screen and (max-width: 768px) {
  .video-embed-background .video-embed-background-wrapper .video-embed,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed {
    width: 80%;
  }

  .video-embed-background .video-embed-background-wrapper .video-embed.video-content__video--youtube,
  .video-embed-background.side-divider .video-embed-background-wrapper .video-embed.video-content__video--youtube {
    padding-bottom: 45.55%;
  }
}
