.featured-stories .carousel-arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 0;
  top: 80px;
  width: 100%;
}

.featured-stories .carousel-arrow {
  position: static;
  height: 4rem;
  background-color: #dd3224;
  color: white;
  border: none;
  width: 4rem;
  font-size: 3rem;
  line-height: 1.15em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 99;
  transition: opacity 0.5s ease;
}

.featured-stories .carousel-arrow.prev {
  left: 0;
  padding-left: 1.5rem;
  margin: 31px;
}

.featured-stories .carousel-arrow.next {
  right: 0;
  padding-left: 1.5rem;
  margin: 31px;
}

.featured-stories .carousel-arrow:focus,
.featured-stories .carousel-arrow:hover {
  opacity: 1;
}
.featured-stories .carousel-arrow.next,
.featured-stories .carousel-arrow.prev {
  margin: 31px;
}
.featured-stories .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
}
.featured-stories .title h2 {
  margin: auto;
  font-size: 2.5rem;
  color: #7e072a;
  font-family: "Modern Gothic", Arial, sans-serif;
  flex-shrink: 0;
  max-width: 100%;
}
.featured-stories .title h2 span {
  color: #343a40;
}
.featured-stories .slide-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  justify-content: start;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 0;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.featured-stories .featured-stories-container::-webkit-scrollbar {
  display: none;
}
.featured-stories .slide {
  flex: 3 0 33.33%;
  max-width: 50%;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  margin-right: 0;
  padding: 0 30px;
}
.featured-stories .slide .slide-inner > img {
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
  width: 100%;
  border: 1px solid #e2e2e2;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
  object-fit: cover;
}
.featured-stories .slide-inner p {
  text-align: left;
}
.featured-stories .slide h3 {
  font-family: "Modern Gothic", Arial, sans-serif;
  font-size: 1.4rem;
  text-align: left;
}
.featured-stories .slide a {
  color: #000 !important;
}
.featured-stories .slide a:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: hsla(0, 0%, 100%, 0);
}
.featured-stories .slide .category {
  margin: 8px 0 !important;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: left;
}
.featured-stories .slide .category span {
  color: #333;
}
.featured-stories .slide-inner {
  position: relative;
}
.featured-stories .fordham-logo {
  text-align: left;
}
.featured-stories .fordham-logo img {
  width: 170px;
}
