@media only screen and (max-width: 1480px) {
  .featured-stories .carousel-arrows {
    top: 60px;
  }
}
@media only screen and (max-width: 1320px) {
  .featured-stories .carousel-arrows {
    top: 40px;
  }
}
@media only screen and (max-width: 1120px) {
  .featured-stories .carousel-arrows {
    top: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .featured-stories .carousel-arrow {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  .featured-stories .featured-stories-container {
    position: relative;
    flex-direction: row;
  }
  .featured-stories .featured-stories-container::-webkit-scrollbar {
    display: none;
  }
  .featured-stories .slide-container {
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: start;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 0;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  .featured-stories .slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    scroll-snap-align: start;
    text-align: center;
    margin-right: 0;
    padding: 0 30px;
  }
  .featured-stories .slide .slide-inner > img {
    width: 100%;
  }
  .featured-stories .carousel-arrows {
    top: 160px;
  }
  .featured-stories .carousel-arrow {
    display: flex;
  }
  .featured-stories .carousel-arrow.prev {
    margin-left: 31px;
  }
  .featured-stories .carousel-arrow.next {
    margin-right: 31px;
  }
}
@media only screen and (max-width: 840px) {
  .featured-stories .carousel-arrows {
    top: 130px;
  }
}
@media only screen and (max-width: 768px) {
  .featured-stories .carousel-arrows {
    top: 110px;
  }
}
@media only screen and (max-width: 620px) {
  .featured-stories .title h2 {
    border-bottom: 4px solid #e2e2e2;
    width: 100%;
    text-align: center;
  }
  .featured-stories .title h2:after {
    display: none;
  }
  .featured-stories .slide h3 {
    font-size: 1.2rem;
  }
  .featured-stories .carousel-arrows {
    top: 90px;
  }
}
@media only screen and (max-width: 520px) {
  .featured-stories .carousel-arrows {
    top: 70px;
  }
  .featured-stories .carousel-arrow {
    font-size: 2rem;
    height: 3rem;
    width: 3.5rem;
  }
  .featured-stories .carousel-arrow.next,
  .featured-stories .carousel-arrow.prev {
    padding-top: 3px;
  }
}
@media only screen and (max-width: 435px) {
  .featured-stories .carousel-arrows {
    top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .featured-stories .carousel-arrows {
    top: 20px;
  }
}
