/* MOBILE VIEW PORTS - RESPONSIVE */


@media (min-width: 1025px) and (max-width: 1200px) {
  .banner-img-txt-bottom__wrapper .background-texture {
    width: 70%;
    height: 52%;
    top: 60%;
  }

  .side-divider-custom.banner-img-txt-bottom {
    padding-bottom: 19rem !important;
  }

  .banner-img-txt-bottom {
    padding-bottom: 14rem !important;
  }
}

@media (min-width: 685px) and (max-width: 1024px) {
  .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }

  .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 684px) {
  .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }

  .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }

  .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media (min-width: 385px) and (max-width: 479px) {
  .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media (min-width: 338px) and (max-width: 384px) {
  .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media (max-width: 337px) {
  .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}
