/* MOBILE VIEW PORTS - RESPONSIVE */

@media only screen and (max-width: 1200px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 100px;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    width: 45%;
    top: 84%;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper .background-texture {
    width: 70%;
    height: 52%;
    top: 56%;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper.left .background-texture {
    left: 28%;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper.right .background-texture {
    right: 28%;
  }

  .banner-img-txt-bottom.fordham-rebrand .side-divider-custom.banner-img-txt-bottom {
    padding-bottom: 19rem !important;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 14rem !important;
  }
}

@container (width < 800px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 60px !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    width: 75%;
    top: 75%;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-svg-asset.svg-bottom-right {
    top: 62%;
  }
}

@media only screen and (max-width: 1024px) {
  /* .banner-img-txt-bottom__wrapper .background-texture,
  .banner-svg-asset.svg-top-right,
  .banner-svg-asset.svg-bottom-right {
    display: none;
  } */
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media only screen and (max-width: 684px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }

  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media only screen and (max-width: 384px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}

@media only screen and (max-width: 337px) {
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom {
    padding-bottom: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__wrapper {
    padding: 0 !important;
  }
  .banner-img-txt-bottom.fordham-rebrand .banner-img-txt-bottom__block {
    position: static;
    transform: translateY(0);
    width: 100%;
  }
}
