/* NAVIGATION Changes */
.header-nav.rebrand .header-nav__logo {
  justify-content: center;
  align-self: flex-start;
  width: 100% !important;
}

.header-nav.rebrand .header-nav__logo svg {
  width: 15rem !important;
  height: auto;
  fill: #fff;
}

.header-nav.rebrand .header-nav__mobile {
  align-self: flex-end;
  margin-left: 0 !important;
}

.header-nav.rebrand .header-nav__top__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 1800px;
  margin: 0 auto;
}

.header-sticky .header-nav.rebrand .header-nav__bottom {
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header-sticky .header-nav.rebrand .header-nav__bottom__container {
  z-index: 1;
  justify-content: center;
}

.header-nav.rebrand .header-nav__bottom__link {
  padding: 0.25rem 0.8rem !important;
  position: relative;
  height: inherit;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color: #fff !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler {
  margin-left: 0 !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__button {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  padding: 0 !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__label {
  text-transform: unset !important;
  font-weight: bold !important;
  margin-left: 0.5rem !important;
  font-size: 1rem !important;
  margin-right: 0.4rem !important;
}

.header-nav.rebrand .header-nav__bottom__search-toggler__button > svg {
  transform: scale(1) !important;
  fill: white;
}

.header-nav.rebrand .header-nav__top__list--secondary {
  background-color: #900028 !important;
}

.header-nav.rebrand .header-nav__top__container {
  height: 35px;
}

.header-nav.rebrand .header-nav__bottom__link:hover {
  text-decoration: none;
  color: #d93f32 !important;
}

.header-nav.rebrand .header-nav__top__list--secondary {
  background-color: #7e072a !important;
}

.header-nav__dropdown-menu {
  position: absolute;
  width: 1800px !important;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-wrap: wrap;
  background-color: #fff;
  border-top: 2px solid #7e072a !important;
  border-bottom: 2px solid #7e072a !important;
  z-index: 1000;
}

.header-nav__dropdown-menu__lists-widget {
    flex: 0 0 85%;
}
.header-nav__dropdown-menu__images-widget {
    flex: 0 0 10%;
}

.header-nav__dropdown-menu__quick-list {
    width: 1800px;
    flex: 0 0 100%;
}

.header-nav__dropdown-menu__lists-widget--bottom {
    width: 100% !important;
}

/* UNIVERSAL CSS ADJUSTMENTS */

.header-placeholder {
  display: none;
}
