<section class="general-content <t4 type="content" name="Top / Bottom Spacing" output="normal" display_field="value" /> <t4 type="content" name="Limit Width" output="normal" display_field="value" />">
  <h2>
    <t4 type="content" name="Name" output="normal" modifiers="striptags,htmlentities" />
  </h2>
  <hr />
  <div class="row d-flex justify-content-around">
    <div class="col-lg-5 col-md-6 col-sm-12 h-100">
      <div class="pl-md-3 pr-md-2" id="events-title">
        <h3 class="mb-0"></h3>
        <hr />
      </div>
      <div class="list-group pl-md-3 pr-sm-0 pr-md-3" id="events">
       
      </div>
    </div>

    <div class="col-lg-5 col-md-6 col-sm-12 h-100">
      <div class="pl-md-3 pr-md-2" id="news-title">
        <h3 class="mb-0"></h3>
        <hr />
      </div>
      <div class="list-group pl-md-3 pr-sm-0 pr-md-3" id="news">
        
      </div>
    </div>
  </div>
</section>


<!-- Below is the old version -->

<!-- <section class="general-content <t4 type="content" name="Top / Bottom Spacing" output="normal" display_field="value" /> <t4 type="content" name="Limit Width" output="normal" display_field="value" />" style="border: 1px dashed black">
  <div class="row">
  	<div class="col-md-6 overflow-auto" style="height: 400px; border: 1px dashed black;">
      <t4 type="data-obj" method="rss" rss-url="$template.events-url$" for-each="item" formatter="text/output-1" />
    </div>
    <div class="col-md-6 overflow-auto" style="height: 400px; border: 1px dashed black;">
      <t4 type="data-obj" method="rss" rss-url="$template.news-url$" for-each="item" formatter="text/output-2" />
    </div>
  </div>
</section> -->

<!-- Section - T4 Tag: <t4 type="content" name="Top / Bottom Spacing" output="normal" display_field="value" /> <t4 type="content" name="Limit Width" output="normal" display_field="value" /> -->


                                                                                                  