@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.fordham-stories-search,
.fordham-stories-archive-all {
  padding-bottom: 100px;
}

.fordham-stories-archive-all {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Fordham Stories Archive List */

.fordham-stories-search .stories.row .story-text .category,
.fordham-stories-archive-all .archive-list.row .story-text .category {
  margin: 8px 0 !important;
  text-transform: uppercase;
}

.fordham-stories-archive-all .archive-list.row .story-text .category {
  font-size: 1.25rem;
}

.fordham-stories-search .stories.row .story-text .category span,
.fordham-stories-archive-all .archive-list.row .story-text .category span{
  background-color: #900028;
  color: white;
  padding: 5px 10px;
  /* font-weight: 500; */
}

.fordham-stories-search .stories.row a,
.fordham-stories-archive-all .archive-list.row a {
  color: black !important;
}

.fordham-stories-search .stories.row a:hover h2,
.fordham-stories-archive-all .archive-list.row a:hover h2 {
  text-decoration: underline !important;
}

.fordham-stories-archive-all .archive-list.row a:hover {
  text-decoration:  none !important;
}

.fordham-stories-search .stories.row .story-image img,
.fordham-stories-archive-all .archive-list.row .story-image img {
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
  width: 100%;
  border: 1px solid #e2e2e2;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: 0;
}

/* .fordham-stories-search .stories.temp-height {
  height: auto;
  min-height: 83vh;
} */

.fordham-stories-search .stories .story-text,
.fordham-stories-archive-all .archive-list.row .story-text {
  height: auto;
  min-height: 5vh;
}

.fordham-stories-search .stories .story-text h2,
.fordham-stories-archive-all .archive-list.row .story-text h2 {
  font-size: 1.4rem;
}

/* Fordham Stories Search Pagination */

.fordham-stories-search .pagination,
.fordham-stories-archive-all .pagination {
  float: right;
}

.fordham-stories-archive-all .pagination {
  margin: 20px 0;
}

.fordham-stories-search .pagination a,
.fordham-stories-archive-all .pagination a {
  font-size: 1.2rem;
  border: 1px solid #900028;
  padding: 5px 12px;
  margin: 0 5px;
  height: auto;
  background-color: none;
  color: #900028 !important;
}

.fordham-stories-search .pagination span.currentpage,
.fordham-stories-archive-all .pagination span.currentpage {
  font-size: 1.2rem;
  border: 1px solid #900028;
  padding: 5px 12px;
  margin: 0 5px;
  height: auto;
  background-color: #900028;
  color: #fff;
}



/* DUPLICATE CODE FROM FORDHAM STORIES CSS */

/* Fordham Stories Archive Pages  - START */

/* .archive-list .category {
  margin: 8px 0 !important;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.archive-list .category span {
  background-color: #900028;
  color: white;
  padding: 5px 10px;
  font-weight: 500;
}
.archive-list a {
  color: black !important;
}

.archive-list a:hover {
  text-decoration: underline !important;
}

.archive-list img {
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
  width: 100%;
  border: 1px solid #e2e2e2;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.archive-list h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem; 
  text-align: left;
} */

/* Fordham Stories Archive Pages - END */