@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.block-quote-embed .col-lg-8.block-quote-column {
  display: flex !important;
  align-items: center !important;
}

.block-quote-embed .col-lg-4.social-embed-column,
.block-quote-embed .row .slide-container {
  display: flex;
  justify-content: center;
}

.block-quote-embed .row .slide-container {
  width: 100%;
}

/* REGULAR BLOCK QUOTE */
.block-quote-embed .block-quote {
  display: flex;
  position: relative;
  padding-top: 60px;
}

.block-quote-embed .block-quote__container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.block-quote-embed .block-quote .profile {
  padding: 0 20px;
}

.block-quote-embed .block-quote .quote {
  font-size: 1.8rem;
  padding-top: 20px;
  letter-spacing: -0.5px;
  align-self: center;
}

.block-quote-embed .block-quote .quote {
  text-align: center;
}

.block-quote-embed .block-quote .opening-quote {
  align-self: start;
}

.block-quote-embed .block-quote .closing-quote {
  align-self: end;
}

.block-quote-embed .block-quote .author {
  font-size: 1.6rem;
  text-align: center;
}

.block-quote-embed .block-quote .link {
  text-align: center;
}

.block-quote-embed .block-quote .link .cta-link-font {
  font-size: 1.1rem;
}

.block-quote-embed .block-quote::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  border-bottom: 3px solid #900028;
  height: 3px;
  width: 200px;
}

.block-quote-embed .block-quote img {
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 180px;
  width: 180px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}


/* FOR SLIDER ARROWS */
.block-quote-embed .carousel-arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 0;
  top: 80;
  width: 100%;
}
.block-quote-embed .carousel-arrow {
  position: static;
  height: 4rem;
  background-color: #900028;
  color: white;
  border: none;
  width: 4rem;
  font-size: 3rem;
  line-height: 1.15em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.block-quote-embed .carousel-arrow:hover,
.block-quote-embed .carousel-arrow:focus {
  opacity: 1;
}

.block-quote-embed .carousel-arrow.prev {
  left: 0;
  padding-left: 1.5rem;
  /* margin: 31px; */
  /* border-radius: 0 2rem 2rem 0 !important; */
  visibility: hidden;
}

.block-quote-embed .carousel-arrow.next {
  right: 0;
  padding-left: 1.5rem;
  /* margin: 31px; */
  /* border-radius: 2rem 0 0 2rem !important; */
  visibility: hidden;
}